.Booking{
  background-image: url("../../../public/ff.jpg");
  overflow-y: scroll;
}
h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: -30px;
}
.screenLine{
    margin: auto;
    width: 66%;
    height: 5px;
    background-color: white;
}

h2{
    color: white;
}
.Booking{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
 
}
.Book{
    width: 60%;
    border-radius: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}
.awards{
  width: 40%;
  color: white;
  font-size: 18px;
  text-align: center;
}

.awards input{
  width: 20px;
  height: 20px;
}

.space{
  width: 10%;
}

.options{
  width: 50%;
  display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.options h5{
    color: white;
    margin-right: 30px;
    font-size: 18px;
}


.options button{
    width: 20px;
    height: 20px;
    border-radius: 0px;
    margin-top: -8px;
    border: 1px solid white;
}

.glitch {
    position: relative;
    font-size: 3rem;
    color: #fff;
  text-shadow: -3px 0 3px #ff00ea, 3px 0 3px #00d4ff;
  font-weight: bold;
  filter: blur(1px) brightness(120%);
    text-transform: uppercase;
    animation: glitch 2s infinite;
  }
  
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch::before {
    animation: glitchTop 1s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  .glitch::after {
    animation: glitchBottom 2.5s infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitch {
    2%, 64% {
      transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
      transform: translate(-2px, 0) skew(0deg);
    }
    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
  
  @keyframes glitchTop {
    0%, 100% {
      clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }
    30% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes glitchBottom {
    0%, 100% {
      clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }
    30% {
      clip-path: polygon(0 0, 100% 0, 100% 67%, 0 67%);
    }
  }

  @media (max-width: 768px) {
    .Book{
      width: 100%;
      border-radius: 0px;
      display: block;
  }

  .options{
    width: 100%;
    display: block;
  }

  .awards{
    width: 100%;
    color: white;
    font-size: 18px;
  }

  .space{
    height: 20px;
  }

  h2{
    margin-top: 40px;
  }
  }
