
.sala{
    margin: auto;
    width: 90%;
    text-align: center;
    justify-content: center;  
}

.bloqueb {
    width: 30%;
    margin-left: 4%;
}

.bloquea {
    width: 30%;
    margin-left: -2%;
}

@media (max-width: 768px) {
    .sala{
        width: 100%;
    }
    
    .bloqueb {
        width: 49%;
        margin-left: 1%;
    }
    
    .bloquea {
        width: 49%;
        margin-left: 1%;
    }
  }
