main{
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
    }

.PosterDetail{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.ArticleDetail{
    height: calc(100vh - 80px);
    padding: 20px 50px;
    margin-top: 80px;
    display: inline-block;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.ArticleDetail h2{
    margin-top: 50px;
}

.ArticleDetail p{
    margin-left: 0px;
}

.ArticleDetail a{
    text-decoration: none;
    color: white;
}

.swal2-actions{
    width: 80%;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-deny, .swal2-styled.swal2-cancel  {
    width: auto;
    text-align: center;
    margin-bottom: 20px;
}